<div class="block-form mx-at">
	<form #contactForm="ngForm" (ngSubmit)="validationForm(contactForm.value)">
		<div class="row">
			<div class="form-group col-lg-6 mb-20">
				<label class="cl-gray d-b mb-10 fw-700" for="#">Họ và tên <span class="cl-main">*</span></label>
				<input class="form-control w-100 bd-input bdr-input tt-c" type="text" name="contactName"
					[(ngModel)]="FormContact.name" />
				<div class="field-validation-error"></div>
			</div>
			<div class="form-group col-lg-6 mb-20">
				<label class="cl-gray d-b mb-10 fw-700" for="#">Địa chỉ <span class="cl-main">*</span></label>
				<input class="form-control w-100 bd-input bdr-input tt-c" type="text" name="contactAddress"
					[(ngModel)]="FormContact.address" />
				<div class="field-validation-error"></div>
			</div>
			<div class="form-group col-lg-6 mb-20">
				<label class="cl-gray d-b mb-10 fw-700" for="#">Số điện thoại <span class="cl-main">*</span></label>
				<input class="form-control w-100 bd-input bdr-input tt-c" type="text" name="contactPhone"
					[(ngModel)]="FormContact.phone" />
				<div class="field-validation-error"></div>
			</div>
			<div class="form-group col-lg-6 mb-20">
				<label class="cl-gray d-b mb-10 fw-700" for="#">Email <span class="cl-main">*</span></label>
				<input class="form-control w-100 bd-input bdr-input" type="text" name="contactEmail"
					[(ngModel)]="FormContact.email" />
				<div class="field-validation-error"></div>
			</div>
			<!-- <div class="form-group col-lg-12 mb-20" *ngIf="departments">
				<label class="cl-gray d-b mb-10 fw-700">
					Đơn vị thành viên
				</label>
				<select name="departments" id="" disabled class="form-control w-100 bd-input bdr-input"
					[(ngModel)]="FormContact.departments">
					<option disabled>- - Chọn đơn vị thành viên - -</option>
					<option value="{{ department. }}" *ngFor="let department of departments"
						[selected]="department.Url == categoryUrl">{{ department.Title }}</option>
				</select>
			</div> -->
			<div class="form-group col-lg-12 mb-20">
				<label class="cl-gray d-b mb-10 fw-700" for="#">Nội dung tin nhắn <span class="cl-main">*</span></label>
				<textarea class="form-control w-100 bd-input bdr-input" name="contactContent"
					[(ngModel)]="FormContact.content"></textarea>
				<div class="field-validation-error"></div>
			</div>
			<div class="form-group col-lg-6 ">
					<re-captcha
					(resolved)="resolved($event)"
					(siteKey)="siteKey
					">
					</re-captcha>
			</div>
			<div class="form-group col-lg-6 text-right">
				<button class="tt-u btn-form cl-white bd-0 ml-at" (click)="submitForm()">
					gửi
				</button>
			</div>
		</div>
	</form>
</div>
