.popup-upload {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 85%;
    z-index: 100;
    .close-popup {
        cursor: pointer;
        position: absolute;
        top: -15px;
        right: -10px;
        img {
            width: 30px;
            height: 30px;
        }
    }
}

.content-wrapper {
    height: 100%;
    overflow-y: auto;
}

.ofcv {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    font-family: "object-fit: cover, object-position: center";
    background-size: cover;
}

.ofct {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    font-family: "object-fit: contain, object-position: center";
    background-size: contain;
}

.input-group {
    display: flex;
    align-items: center;
    &.input-type-file {
        .btn-choose-image {
            font-size: 20px;
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
            flex: 0 0 40px;
            max-width: 40px;
            height: 40px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.desktop {
    @media (max-width: 1024px) {
        display: none !important;
    }
}

.mobile {
    @media (min-width: 1025px) {
        display: none !important;
    }
}

body {
    background: #e9ecee;
}

::-webkit-scrollbar-track {
    background-color: rgba($color: #000000, $alpha: 0.1);
}

::-webkit-scrollbar {
    width: 5px;
    background-color: rgba($color: #000000, $alpha: 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

.block-control {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    border-bottom: 1px dashed darken(white, 12%);
    // position: sticky;
    // background-color: white;
    // top: 0;
    // left: 0;
    // z-index: 100;
    // &:before {
    // 	content: "";
    // 	position: absolute;
    // 	left: -20px;
    // 	right: -20px;
    // 	background-color: white;
    // 	box-shadow: 0 0 10px rgba(black, 0.15);
    // 	top: 0;
    // 	height: 100%;
    // }
    * {
        position: relative;
        z-index: 10;
    }
    .btn {
        +.btn {
            margin-left: 10px;
        }
    }
}

.block-filters {
    .form-group+.form-group {
        margin-left: 10px;
    }
}

.block-form {
    padding: 10px 0;
}

.block-content {
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 0 10px;
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color: #000000, $alpha: .5);
        pointer-events: none;
        z-index: 20;
    }
    &.disabled {
        &:after {
            content: '';
        }
    }
}

.content-router-outlet {
    padding: 10px;
}

.grapesJS__wrapper {
    iframe {
        width: 100%;
        height: 485px;
    }
    .gjs-cv-canvas__tools {
        display: none;
    }
}